/* Genarel css */
body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
/* Layout */
img {
    max-width: 100%;
    border: none;
    vertical-align: middle;
}
/* Header Part */
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 30px;
}
#header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;

}
#header .logo {
    flex-basis: 200px;
    padding: 15px 0;
}
.main-navigation{
    flex-basis: 100%;
     text-align: right; 
}
.main-navigation ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.main-navigation ul.menu{
    display: flex;
    justify-content: right;
}

.main-navigation li {
    line-height: 60px;
}
.main-navigation a {
    text-decoration: none;
    color: #000;
    
}
.main-navigation .menu > li > a {
    text-transform: uppercase;
    padding: 15px;
}
.main-navigation a:hover,
.main-navigation a:focus{
    color: #777;
}



.main-navigation svg{
    width :12px;
}

/* Sub menu design   */
.main-navigation > .menu > .menu-item-has-children{
    position: relative;
}
.main-navigation .sub-menu{
    position: absolute;  
    min-width: 240px;
    box-shadow: 0px 13px 14px rgba(0 0 0 /20%);
    top: 100%;
    left: 0;
    padding: 15px 0;
    display: none;
}

.main-navigation li:hover .sub-menu{
    display: block;
}

span.menu-toggle{
margin-left: 5px;
position: relative;
top: 5px;
}
.main-navigation .sub-menu li{
    line-height: 0;
}

.main-navigation .sub-menu li a{
    padding: 20px 15px;
    display: block;
}
/* home top */
#home-top {
    background-color: #000  ;
    background-image: linear-gradient(to right,#000,#666);
    padding: 10% 0;
    text-align: center;
}
#home-top h1,#home-top p {

    color: #fff;

}
#home-top h1 {
    font-size:3em ; /* unit | brouser font-size:16px;*/
}
#home-top p {
    font-size: 18px;
    padding: 0 15%;

}
#home-top .cta {
    text-decoration: none;
    border: 1px solid;
    padding:10px  15px;
    margin-top: 20px;
    display: inline-block;
    border-radius: 3px;
    color: #ccc;
}
#home-top .cta:hover{
    color: #fff;
}
/* section */
.section {
    padding-top: 70px;
    padding-bottom: 70px;
}
.section h2 {
    text-align: center;
    text-transform: uppercase;
    font-size: 2.25em; /* 1em=16px*/
}
.section .container {
    display: flex;
    
}
.section .container .column {
    flex-basis: 0;
    flex-grow: 1;
}

/* about start */
#about .container{
    column-gap: 30px;
}
#about img {
    min-width: 100%;
}
#about .photo {
    box-shadow: -10px 10px 25px rgba(0, 0, 0,0.2);
}

/* services */
#services {
    background-color: #f0f0f0;
}
#services .service-item {
    text-align: center;
    padding: 10px;
}
#services .service-item .icon {
    
    display: inline-block;
}
#services .service-item svg {
    width: 100%;
    height: 100%;
}
#services .service-item p {
    color: #888;
    font-size: 16px;
}
/* portfolio */
  #portfolio .container {
    flex-wrap: wrap;
  }
  #portfolio .column {
      width: 25%;
  }

  #portfolio .portfolio-item{
      margin-right: 10px;
      margin-top: 10px;
  }
  #portfolio .portfolio-item a::before {
      content:"";
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0,0,0,0,5);
      background-image: url(assets/download.png);
      background-repeat: no-repeat;
      z-index: 1; 

  }
  /* blog */
  #blog {
      background-color: #f0f0f0;
  }
  #blog .container {
      column-gap: 20px;
      flex-wrap: wrap;
  }
  #blog .post {
      transition: transform 0.3s ;
  }
  #blog .post:hover{
      transform: translateY(-7px);
  }
  #blog .category,  #blog .date {
      font-size:14px ;
      color:#888 ;
      margin-top: 10px;
      text-transform: uppercase;
  }
  #blog .title {
      font-size: 16px;
      text-align: left ;
  }
  #blog .title a{
      text-decoration: none;
      color: #000;
      text-transform: none;
  }
  #blog .title a:hover {
      color: #666;
  }

  #blog .button-more {
      flex-basis: 100%;
      text-align: center;
  }
  #blog a.button-more {
    background-color: #000;
    display: inline-block;
    color: #fff;
    padding: 15px 35px;
    text-decoration: none;
    margin-top: 30px;
    transition: padding 0.3s;
}
#blog a.button-more:hover {
    padding: 15px 40px;
}
  #blog .column {
      width: 25%;
  }
  /* #blog */
/* contact */

#contact .contact-us {
    max-width: 700px;
    margin: 0 auto;
}

#contact form {
    display: flex;
    flex-wrap: wrap;
    align-items:flex-start;
    column-gap: 15px;
}

#contact input [type="text"]
#contact input [type="email"]

#contact textarea {

    border: none;
    outline: none;
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
    
}
#contact .user-name, #contact .user-email {
    flex-basis: calc(50% - 15px);

}
#contact textarea {
    flex-basis: 100%;
    min-height:100px;
    height:100px;
}