/* Genarel css */
body{
    margin: 0;
}
/* Layout */
.img {
    max-width: 100%;
    border: none;
}
/* Header Part */
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 30px;
}
#header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;

}
#header .logo {
    flex-basis: 200px;
    padding: 15px 0;
}
.main-navigation{
    flex-basis: 100%;
    /* text-align: right; */
}
.main-navigation ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.main-navigation ul.menu{
    display: flex;
    justify-content: right;
}

.main-navigation li {
    line-height: 60px;
}
.main-navigation a {
    text-decoration: none;
    color: #000;
    
}
.main-navigation .menu > li > a {
    text-transform: uppercase;
    padding: 15px;
}
.main-navigation a:hover,
.main-navigation a:focus{
    color: #777;
}



.main-navigation svg{
    width :12px;
}

/* Sub menu design   */
.main-navigation > .menu > .menu-item-has-children{
    position: relative;
}
.main-navigation .sub-menu{
    position: absolute;
    min-width: 240px;
    box-shadow: 0px 13px 14px rgba(0 0 0 /20%);
    top: 100%;
    left: 0;
    padding: 15px 0;
    display: none;
}

.main-navigation li:hover .sub-menu{
    display: block;
}

span.menu-toggle{
margin-left: 5px;
position: relative;
top: 5px;
}
.main-navigation .sub-menu li{
    line-height: 0;
}

.main-navigation .sub-menu li a{
    padding: 20px 15px;
    display: block;
}
/* home top */
#home-top {
    background-color: #000  ;
    background-image: linear-gradient(to right,#000,#666);
    padding: 10% 0;
    text-align: center;
}
#home-top h1,#home-top p {

    color: #fff;

}
#home-top h1 {
    font-size:3em ; /* unit | brouser font-size:16px;*/
}
#home-top p {
    font-size: 18px;
    padding: 0 15%;

}
#home-top .cta {
    text-decoration: none;
    border: 1px solid;
    padding:10px  15px;
    margin-top: 20px;
    display: inline-block;
    border-radius: 3px;
    color: #ccc;
}
#home-top .cta:hover{
    color: #fff;
}